nav ul { list-style:none; }

#page-wrap{
    width: 800 px;
    margin: 0 auto;
}

#detailCountryName,
#pageTitle {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 4vw;
   /* font-size: 2.5em;
    36 px,*/
}


#timeHeader{
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 24px;
}

#homeButton{
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 24px;}


.ul{
    font-family: bold;
    font-size: 10px;
    horizontal-align: center;
    align: center;
    text-align: center;
    position: fixed;
}

#subHeader,
#detailCityName {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 1.5vw;
    /*font-size: 16px;   */
}


#timeCard,
#twitterCard,
#forecastCard,
#weatherCard{
    position: relative;
    background:#FFF;
    border:1px solid #AAA;
    margin:10px;
    opacity: 0.9;
    align: center;
    text-align: center;
    width: 400px;
}


table{
    width: 100%;
    border-collapse: collapse;

}

table, th, td{
    color: teal;
    border: 1px solid teal;
    text-align:center;

}

#feedcard,
#feedcard1,
#feedcard2{
    position:relative;
    background#FFF;
    border: 1px solid #1b95e0;
    align:center;
    overflow: visible;
}

#twittFeed1,
#twittFeed2,
#twittFeed{
    color: teal;
    font-size: 16px;
    text-align: center;
    overflow: visible;
}

#twitterHeader,
#forecastHeader,
#weatherHeader{
    color: teal;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
    padding: 0%;
}


#weatherDetail{
    color: teal;
    font-family: cursive;
    font-size: 16px;
}

#highDetail,
#lowDetail,
#precipDetail,
#windDetail,
#humidityDetail{
    color: teal;
    font-size: 16px;
    text-align: center;
}

#feelsLike,
#timezone,
#lastUpdated{
    color: teal;
    font-size: 11px;

}

body{
    background-color: white;
    border: 5px solid #FFF;
    background-image: url("IMG_7349.JPG");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*   for some reason if you change background-attachment to scroll the font is easier to read */
    background-size: cover;
    text-align: center;
    align: center;

}

#logo{
    text-align: center;
    }

#indexCard {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background:#FFF;
    border:2px solid teal;
    padding:0px;
    margin:10px;
    opacity: 0.9;
    overflow:hidden;
    horizontal-align: center;
    text-align: center;
    align: center;
    width: 400px;
    border-radius: 2px;

}

#selectCityText,
p {
    color: teal;
    font-family: cursive;
    font-size: 1.5vw;
    /* font-size: 16px; */
}

.card {
    border: 2px solid teal;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
  }

   .card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
  }
  .card .content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
  }

.card-columns{
    column-span: none;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    overflow: hidden;
}
